<!DOCTYPE html>
<html>
<head>
  <title>Flirt</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='row'>
   <%= render :partial => 'layouts/header'%>
</div>

<div class='row'>
    <%= is_auth ? "You are logged on" : "You are logged off" %>
    <%= is_admin ? render(:partial => 'layouts/adminbar') : "" %>
<br/>
  <%= yield %>
</div>

<div class='row'>
    <%= render :partial => 'layouts/footer'%>
</div>
    <!-- Including JS scripts on bottom to speed upload -->
    <%= javascript_include_tag "application" %>
</body>
</html>
