<!DOCTYPE html>
<html>
<head>
  <title>Flirt</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

   <%= render :partial => 'layouts/header'%>

<div class='row'>
<br/>
  <%= yield %>
</div>


    <%= render :partial => 'layouts/footer'%>

    <!-- Including JS scripts on bottom to speed upload -->
    <%= javascript_include_tag "application" %>
</body>
</html>
